---
---
<!-- {sortedCauses.map((post: any) => {  
  const hasCardImg = post.frontmatter.card ? post.frontmatter.card : '';
    return (
      <li class="cause-list-item">                
        <a href={post.url}>
          <img class="cause-list-img" src={hasCardImg} alt={post.frontmatter.title}>
          {post.frontmatter.title}
        </a>
      </li>
    )
  }        
)} -->

href={`/causes/matched-orgs/${post.slug}`}