---
import '@styles/_org.scss';
import { type Org, orgs } from '@data/index';
import Layout from '../../layouts/Layout.astro';
const { slug } = Astro.params;
import banner from '@assets/Step2-New.png';
import { Image } from 'astro:assets';
import StarterSVG from '@assets/StarterKit.svg';

import { Icon } from "astro-icon/components";

export function getStaticPaths() {
  return [
    ...orgs.map((org) => ({
      params: {
        slug: org.slug
      }
    }))
  ]
}
const org = orgs.find((org) => org.slug === slug) as Org;
---


<Layout 
  title={`${org.name} - The Resistance Toolkit`}
  description={`How to get the latest news on ${org.name}. Stay informed and take action against the politics of hate and ignorance.`}
  image={`${Astro.site}Org-Share.png`}
  imageAlt='Text reads Featured Org. Next to the text is an illustration of a woman flexing her right arm in the style of Rosie the Riveter.'
  >
  <header class="max-w-6xl mx-auto" slot="header">
    <Image class="no-touchy" src={banner} alt="Stay Informed" />
  </header>
  
  <section class="org-header">    
    <h1 class="org-header__title">{org.name}</h1>
    <div class="level">
      <div class="level-left">        
        {org.cause && org.cause.map((cause) => {
          return <span class="cause-tag whitespace-nowrap rounded-full px-2.5 py-0.5 text-sm"><a href={`/cause/${cause}`}>{cause}</a></span>
        })}          
      </div>    
    </div>
  </section>
  <section class="org-section org-content">
    <div class="org-info">
      <div class="org-description">
        <h2 class="flex items-center mb-4"><Icon aria-hidden="true" name="mdi:about"/> About</h2>
        <p>{org.description}</p>
        <a id="chooseOrgLink" rel="next" href={`/actions/${org.slug}`} class="select-org">Choose Organization</a>
      </div>
      <div class="org-contact">
        <h2 class="flex items-center mb-4"><Icon name="mdi:web-check"/> Website</h2>
        <p>
          <a href={org.url} rel="noopener nofollow external" target="_blank">{org.url}</a>
        </p>
        <h2 class="flex items-center my-4 pb-2"> <Icon name="mdi:megaphone"/> Social Media</h2>
        <div class="social-tags">    
          {org.social && org.social.map((social) => {
            return (
            <span class="tag">
              <a href={social.url} rel="noopener nofollow external" title={`View ${org.name} on ${social.platform}`} target="_blank">{social.platform}</a>
            </span>        
          )
          })}
        </div>        
      </div>
    </div>   
  </section>
  <div class="my-4 bg-blue-100 border border-blue-200 text-gray-800 rounded-lg p-4" role="note" tabindex="-1" aria-labelledby="note-title">
    <div class="flex gap-4">
      <div class="flex sm:w-1/3 lg:w-1/2 sm:w-1">
        <div class="shrink-0">
          <svg class="shrink-0 size-4 mt-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M12 16v-4"></path>
            <path d="M12 8h.01"></path>
          </svg>
        </div>
        <div class="ms-3">
          <h3 id="note-title" class="font-semibold">
            A note about Social Media
          </h3>
          <div class="mt-2 text-sm text-gray-800">
            I encourage you to use social media platforms that are open sourced and decentralized (like <a rel="noopener nofollow external" href="https://bsky.app/" class="text-blue-800 font-bold" target="_blank">BlueSky</a> or <a rel="noopener nofollow external" href="https://joinmastodon.org/" class="text-blue-800 font-bold" target="_blank">Mastodon</a>). However, your organization might not have an account on these newer platforms, so go where your orgs are.     
          </div>
        </div>          
      </div>
      <div>
        <p class="text-sm mx-auto text-center md:max-w-[65%] sm:max-w-[100%]">This is a link to a <a rel="noopener nofollow external" href="https://go.bsky.app/54kcLsh" class="text-blue-800 font-bold" target="_blank">starter pack of organizations</a> that are currently on BlueSky.</p>
        <div class="qr-wrapper">
          <Image class="no-touchy" src={StarterSVG} height={80} width={80} alt="QR code to the Resistance Toolkit Starter Pack on BlueSky Social. Scan with your phone's camera to open up the link." />
        </div>
      </div>
    </div>
  </div>
</Layout>