---
import '@styles/_recover.scss';
import banner from '@assets/Step4-New.png';
import Layout from 'src/layouts/Layout.astro';
import { Image } from 'astro:assets';
import Meditation from '@assets/Recover/Meditation.png';
import Games from '@assets/Recover/Games.png';
import Art from '@assets/Recover/MakeArt.png';
import Fitness from '@assets/Recover/Fitness.png';
import Mindfulness from '@assets/Recover/Mindfulness.png';
import Sleep from '@assets/Recover/Sleep.png';
import SocialMedia from '@assets/Recover/SocialMedia.png';
import RepeatCup from '@assets/Recover/RepeatCup.png';
---

<Layout 
  title="The Resistance Toolkit - Recover, Repeat!"
  description="Make sure to recharge your batteries, this is a marathon, not a sprint. A list of suggested ways to recover."
  image=`${Astro.site}Recover-Share.png`
  imageAlt='Text reads Recover, Repeat! Next to the text is an illustration of a potted plate being watered by rain drops.'
  >
  <header class="max-w-6xl mx-auto" slot="header">
    <Image src={banner} class="no-touchy" alt="Text reads 'Recover'. Illustration of a potted plate being watered by rain drops." />
  </header>

  <section class="mt-8 actions-section max-w-6xl mx-auto">
    <h1 class="resist-recovery__title">Recovery</h1>
    <p class="my-4">
      Remember to take care of your mental, physical, and spiritual health. 
      We're in this for the long haul, make sure to recharge your batteries!
      The following are some examples, but by all means, do whatever works best for you.
    </p>
    <p class="my-4">
      When you are ready, <a rel="next" href="#repeat">make sure to complete this cycle!</a>
    </p>
    <div class="resist-recover__card-grid">
      <div class="resist-card inline-flex flex-col bg-white border shadow-sm rounded-xl ">
        <div class="resist-recover__card--img-container">
          <Image class="w-full h-auto no-touchy" src={SocialMedia} alt="Neon light of a social media like count at zero." />
        </div>        
        <div class="resist-card__body">
          <h3 class="text-lg font-bold text-gray-800">
            How and Why You Should Take Social Media Breaks
          </h3>
          <p class="mt-1 resist-card__text">
            Social media can have many benefits, but sometimes you just need a break. This blog offers some tips on how to step away.
          </p>
          <a 
            rel="noopener nofollow"
            class="resist-recovery__button" 
            href="https://summer.harvard.edu/blog/need-a-break-from-social-media-heres-why-you-should-and-how-to-do-it/"
            target="_blank">
            Learn More
          </a>
        </div>
      </div>

      <div class="resist-card inline-flex flex-col bg-white border shadow-sm rounded-xl ">
        <div class="resist-recover__card--img-container">
          <Image class="w-full h-auto no-touchy" src={Mindfulness} alt="A sheet of paper propped up against a window with the words 'Mindfulness' written on it." />
        </div>
        
        <div class="resist-card__body">
          <h3 class="text-lg font-bold text-gray-800">
            Mindfulness Activities
          </h3>
          <p class="mt-1 resist-card__text">
            There are many mindfulness activities available for children, teens, and adults that can relieve stress and help you be more present in the moment.
          </p>
          <a 
            rel="noopener nofollow"
            class="resist-recovery__button" 
            href="https://www.healthline.com/health/mind-body/mindfulness-activities#for-adults"
            target="_blank">
            Learn More
          </a>
        </div>
      </div>

      <div class="resist-card inline-flex flex-col bg-white border shadow-sm rounded-xl ">
        <div class="resist-recover__card--img-container">
          <Image class="w-full h-auto no-touchy" src={Fitness} alt="Two women doing lunges on a foot bridge." />
        </div>
        
        <div class="resist-card__body">
          <h3 class="text-lg font-bold text-gray-800">
            Find a Fitness Routine
          </h3>
          <p class="mt-1 resist-card__text">
            Starting a fitness program may be one of the best things for health. Physical activity can lower the risk of diseases, such as heart disease and cancer.
          </p>
          <a 
            rel="noopener nofollow"
            class="resist-recovery__button" 
            href="https://www.mayoclinic.org/healthy-lifestyle/fitness/basics/fitness-basics/hlv-20049447"
            target="_blank">
            Learn More
          </a>
        </div>
      </div>

      <div class="resist-card inline-flex flex-col bg-white border shadow-sm rounded-xl ">
        <div class="resist-recover__card--img-container">
          <Image class="w-full h-auto no-touchy" src={Art} alt="A person sitting on the floor, with a paintbrush in hand, painting a sheet of paper." />
        </div>
        
        <div class="resist-card__body">
          <h3 class="text-lg font-bold text-gray-800">
            Make art for your mental health
          </h3>
          <p class="mt-1 resist-card__text">
            Art can be helpful in a healthcare setting, whether it's prescribed therapy, something you participate in for fun or part of the environment around you.
          </p>
          <a 
            rel="noopener nofollow"
            class="resist-recovery__button" 
            href="https://mcpress.mayoclinic.org/living-well/the-intersection-of-art-and-health-how-art-can-help-promote-well-being/"
            target="_blank">
            Learn More
          </a>
        </div>
      </div>      

      <div class="resist-card inline-flex flex-col bg-white border shadow-sm rounded-xl ">
        <div class="resist-recover__card--img-container">
          <Image class="w-full h-auto no-touchy" src={Sleep} alt="A dimly lit room with a bed." />
        </div>
        
        <div class="resist-card__body">
          <h3 class="text-lg font-bold text-gray-800">
            Make Sure You're Getting Good Sleep
          </h3>
          <p class="mt-1 resist-card__text">
            There's so much more to sleep than just the number of hours you get each night. How much do you know?
          </p>
          <a 
            rel="noopener nofollow"
            class="resist-recovery__button" 
            href="https://hub.jhu.edu/at-work/2022/03/11/good-sleep-for-good-health/"
            target="_blank">
            Learn More
          </a>
        </div>
      </div> 

      <div class="resist-card inline-flex flex-col bg-white border shadow-sm rounded-xl ">
        <div class="resist-recover__card--img-container">
          <Image class="w-full h-auto no-touchy" src={Games} alt="Two video game controllers being held up in front of a TV with a soccer game on." />
        </div>
        
        <div class="resist-card__body">
          <h3 class="text-lg font-bold text-gray-800">
            Find a game that helps you destress
          </h3>
          <p class="mt-1 resist-card__text">
            From puzzlers and driving sims to power washing and Tetris. These are games that are great for relaxing and unwinding.
          </p>
          <a 
            rel="noopener nofollow"
            class="resist-recovery__button" 
            href="https://www.engadget.com/gaming/best-relaxing-video-games-140048572.html"
            target="_blank">
            Learn More
          </a>
        </div>
      </div> 

      <div class="resist-card inline-flex flex-col bg-white border shadow-sm rounded-xl ">
        <div class="resist-recover__card--img-container">
          <Image class="w-full h-auto no-touchy" src={Meditation} alt="A man sitting cross-legged on a rock, meditating." />
        </div>
        
        <div class="resist-card__body">
          <h3 class="text-lg font-bold text-gray-800">
            Try meditation or a meditation app
          </h3>
          <p class="mt-1 resist-card__text">
            If you’ve decided to give meditation a shot, congratulations! You’ve also decided to improve your sleep, lower your blood pressure, increase your marital harmony and reduce your stress.
          </p>
          <a 
            rel="noopener nofollow"
            class="resist-recovery__button" 
            href="https://www.headspace.com/articles/how-to-meditate-in-ten-minutes"
            target="_blank">
            Learn More
          </a>
        </div>
      </div> 
    </div>
  </section>
  <section class="resist-repeat">
    <h2 id="repeat" class="resist-recovery__title">Congratulations!</h2>    
    
    <p class="my-4">
      You have completed a cycle! Once your batteries are recharged, let's do it again.
    </p>
    <p class="my-8">
      <a rel="next" href="/causes" class="start-again-btn">Go to Step 1!</a>
    </p>
    <Image class="no-touchy mx-auto" height={350} width={350} src={RepeatCup} alt="A trophy cup with a repeat symbol." />
  </section>
</Layout>
