---

//-- TODO: Figure out how to handle browser history for navigating 
//-- to and from the cause/org/action pages

---
<nav aria-label="Breadcrumb" class="flex breadcrumb">
  <ol class="flex mt-3 overflow-hidden rounded-lg border border-gray-200 text-gray-600">
    <li class="flex items-center justify-center">
      <a href="/" class="flex h-10 items-center gap-1.5 bg-gray-100 px-4 transition hover:text-gray-900">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        />
        </svg>
        <span class="ms-1.5 text-xs font-medium"> Home </span>
      </a>
    </li>          
    <li class="relative flex items-center">
      <span
        class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
      >
      </span>
      <a href="/causes" class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
        Causes
      </a>
    </li>    
  </ol>
</nav>

<nav aria-label="Breadcrumb" class="flex breadcrumb">
  <ol class="flex mt-3 overflow-hidden rounded-lg border border-gray-200 text-gray-600">
    <li class="flex items-center justify-center">
      <a href="/" class="flex h-10 items-center gap-1.5 bg-gray-100 px-4 transition hover:text-gray-900">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        />
        </svg>
        <span class="ms-1.5 text-xs font-medium"> Home </span>
      </a>
    </li>          
    <li class="relative flex items-center">
      <span
        class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
      >
      </span>
      <a href="/causes" class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
        Causes
      </a>
    </li>
    <li class="relative flex items-center">
      <span
        class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
      >
      </span>
      <a href={`/cause/${cause.slug}`} class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
        Organizations
      </a>
    </li>
    <!-- <li><a href="/informed">Next Step</a></li> -->
  </ol>
</nav>

<nav aria-label="Breadcrumb" class="flex breadcrumb">
  <ol class="flex mt-3 overflow-scroll rounded-lg border border-gray-200 text-gray-600">
    <li class="flex items-center justify-center">
      <a href="/" class="flex h-10 items-center gap-1.5 bg-gray-100 px-4 transition hover:text-gray-900">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        aria-hidden="true"
        role="img"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        />
        </svg>
        <span class="ms-1.5 text-xs font-medium"> Home </span>
      </a>
    </li>          
    <li class="relative flex items-center">
      <span
        class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
      >
      </span>
      <a href="/causes" class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
        Causes
      </a>
    </li>
    <li class="relative flex items-center">
      <span
        class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
      >
      </span>
      <a id="org-link" href="/cause" class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
        Organizations
      </a>
    </li>
    <li class="relative flex items-center">
      <span
        class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
      >
      </span>
      <a id="informed-link" href={`/orgs/${org.slug}`} class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
        Informed
      </a>
    </li>
    <li class="relative flex items-center">
      <span
        class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
      >
      </span>
      <a href="/recover" class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
        Next Step
      </a>
    </li>    
  </ol>
</nav>

<nav aria-label="Breadcrumb" class="flex breadcrumb">
  <ol class="flex mt-3 overflow-scroll rounded-lg border border-gray-200 text-gray-600">
    <li class="flex items-center justify-center">
      <a href="/" class="flex h-10 items-center gap-1.5 bg-gray-100 px-4 transition hover:text-gray-900">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-4"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        />
        </svg>
        <span class="ms-1.5 text-xs font-medium"> Home </span>
      </a>
    </li>          
    <li class="relative flex items-center">
      <span
        class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
      >
      </span>
      <a href="/causes" class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
        Causes
      </a>
    </li>
    <li class="relative flex items-center">
      <span
        class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
      >
      </span>
      <a id="org-link" href="/cause" class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
        Organizations
      </a>
    </li>
    <li class="relative flex items-center">
      <span
        class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
      >
      </span>
      <a id="action-link" href={`/actions/${org.slug}`} class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
        Next Step
      </a>
    </li>
  </ol>
</nav>



<script>
  document.addEventListener('astro:page-load', () => {
    
    // @ts-ignore:
    if(window.HSStaticMethods) {
      // @ts-ignore:
      window.HSStaticMethods.autoInit();
    }
    let cause: string | null;
    cause = null;
    
    const urlSearchParams = new URLSearchParams(window.location.search);
    if(urlSearchParams.has('cause')) {
      cause = urlSearchParams.get('cause');
    }
    const orgLink = document.getElementById('org-link');
    const informedLink = document.getElementById('informed-link');
    if(cause !== null && orgLink !== null) {
      orgLink.setAttribute('href', `/cause/${cause}`);
    }
    if(cause !== null && informedLink !== null) {
      const oldHref = informedLink.getAttribute('href');
      const newHref = oldHref + `?cause=${cause}`;
      informedLink.setAttribute('href', newHref);
    }
  
    console.log('Current cause: ', cause);
  })
</script>