---
import '@styles/Home.scss';
import { Image } from 'astro:assets';
import PickCause from '@assets/PickCause.png';
import CausePicker from './CausePicker.astro';
import { Icon } from 'astro-icon/components';
import MailBot from '@assets/mailbot.svg';
import Vote from '@assets/Vote.svg';
import YourMoney from '@assets/YourMoney.svg';
import BreatheFree from '@assets/shop/BreatheFree-Tee.webp';
import Wealth from '@assets/shop/wealth.webp';
import Union from '@assets/shop/PerfectUnion.webp';
import Hoodie from '@assets/shop/Rosie-Hoodie.webp';

import { type Org, orgs } from '@data/index';
---
<div class="container max-w-6xl mx-auto">
  <section class="resist-home__section resist-start__section">
    <div class="resist-welcome__banner">
      <h2 class="resist-steps__title text-center" >Welcome To The Resistance</h2>
      <h3 class="font-bold my-2 pb-4 text-center">Step 1. Select a cause to see organizations that support it!</h3>
    </div>    
    <CausePicker />
  </section>
</div>

<div id="everyday" class="resist-home__actions--wrapper">
  <section class="resist-home__section every-day-banner">
    <h2>Everyday Things You Can Do</h2>
  </section>
  <section class="resist-home__section featured-tools resist-featured__section">
  
    <div id="factBot" class="resist-featured featured-tool">
      <div class="resist-featured__header">
        <p class="resist-featured__header--title">
         <Icon name="mdi:lightning-bolt" role="img" aria-hidden="true" /> Get The Truth
        </p>
      </div>
      <div class="resist-featured__body">
        <h3 class="resist-featured__body--title">
          FactBot by Snopes (Beta)
        </h3>
        <Image src={`https://mediaproxy.snopes.com/width/1200/https://www.snopes.com/tachyon/2019/11/2019-snopes-open-graph-default.png`} width={1200} height={600} class="featured-tool resist-featured__body--img no-touchy" alt="The word Snopes with the first s capitalized and stylized as a lamp shining light on the rest of the letters." />
        <p class="resist-featured__body--text featured-tool__subtitle text-center">
          Ask FactBot a Question!
        </p>
        <p class="resist-featured__body--text">
          Harness Snopes' fact checking expertise with this AI bot. Your first couple of questions don't require
          an account, after that it's easy to sign up for a
          <a rel="external" class="external-link not-prose" href="https://www.snopes.com/?utm_source=resistance-toolkit" target="_blank"> 
            <span>free or paid account </span>
            <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
          </a> 
          to keep using FactBot! After you're done, make sure to <a href="/orgs/snopes">learn how to support Snopes!</a>
        </p>
        <p class="example-questions__title max-w-2xl mx-auto mt-3">Example questions:</p>
          <ul class="example-questions__list">
            <li>
              <a class="example-questions__link not-prose external-link" data-umami-event="{snopes-example-question}" rel="external" href="https://www.snopes.com/factbot/?query=Is+Zelensky+a+dictator%3F" target="_blank">
                <span>Is Zelensky a dictator?</span>
                <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
              </a>
            </li>
            <li>
              <a class="example-questions__link not-prose external-link" data-umami-event="{snopes-example-question}" rel="external" href="https://www.snopes.com/factbot/?query=Is+the+covid-19+vaccine+safe%3F" target="_blank">
                <span>Is the COVID-19 vaccine safe?</span>
                <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
              </a>            
            </li>
            <li>
              <a class="example-questions__link not-prose external-link" data-umami-event="{snopes-example-question}" rel="external" href="https://www.snopes.com/factbot/?query=Did+Hamas+get+%2450+million+for+condoms%3F" target="_blank">
                <span>Did Hamas get $50 million for condoms?</span>
                <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
              </a>
            </li>
          </ul>
        <form id="factBotForm" name="FactBot Question" class="space-y-4 max-w-3xl mx-auto">
          <label for="hs-trailing-button-add-on-with-icon" class="block pt-4 mt-4 font-bold" >
            Go ahead, ask a question! We'll send you over to FactBot for the answer.
          </label>
          <div class="flex rounded-lg shadow-sm">
            <input type="text" id="hs-trailing-button-add-on-with-icon" name="hs-trailing-button-add-on-with-icon" class="py-3 px-4 block w-full border-gray-200 shadow-sm rounded-s-lg text-sm">
            <button id="factBotSubmit" data-umami-event="{snopes-submit}" type="submit" class="w-[2.875rem] h-[2.875rem] shrink-0 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
              <svg role="img" aria-hidden="true" class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
              </svg>
              <span class="sr-only">Submit!</span>
            </button>
          </div>
          <span class="text-sm block">
            Disclaimer: FactBot is a great starting place, but you should verify 
            the answers by checking the sources it provides as well as looking up 
            your topic with the human verified answers on the Snopes website.
          </span> 
        </form>      
      </div>
    </div>

    <div id="mobilize" class="resist-featured featured-tool">
      <div class="resist-featured__header">
        <p class="resist-featured__header--title">
         <Icon name="mdi:lightning-bolt" role="img" aria-hidden="true" /> Get Involved, Take Action
        </p>
      </div>
      <div class="resist-featured__body">
        <h3 class="resist-featured__body--title">
          Mobilize
        </h3>
        <Image src={`https://mobilizeamerica.imgix.net/uploads/organization_social/Social%20preview_20201104142729507467.png?w=1200&h=628&fit=crop&bg=FFF`} width={1200} height={600} class="featured-tool resist-featured__body--img no-touchy" alt="The word Snopes with the first s capitalized and stylized as a lamp shining light on the rest of the letters." />
        <div class="mobilize-category-links">
          <p class="resist-featured__body--text featured-tool__subtitle text-center">
            Find an Event, Sign a Petition, Volunteer!
          </p>
          <p class="resist-featured__body--text">
            Mobilize is your go-to destination for people-powered movements. We provide nonprofits, labor unions, 
            political campaigns, and grassroots organizers the tech needed to create a more just, inclusive, and democratic world.        
          </p>
          <p class="resist-featured__body--text text-center">
            Example Organizations and Causes:
          </p>
          <a class="mobilize-link" rel="external" target="_blank" href="https://www.mobilize.us/?org_ids=2425">
            <Icon  role="img" aria-label="Org" name="mdi:building"/>
            Sunrise Movement
          </a>
          <a class="mobilize-link" rel="external" target="_blank" href="https://www.mobilize.us/?org_ids=93">
            <Icon  role="img" aria-label="Org" name="mdi:building"/>
            Indivisible
          </a>
          <a class="mobilize-link" rel="external" target="_blank" href="https://www.mobilize.us/events/lgbtq/">
            <Icon  role="img" aria-label="Cause" name="mdi:megaphone"/>
            LGBTQ+
          </a>
          <a class="mobilize-link" rel="external" target="_blank" href="https://www.mobilize.us/events/healthcare/">
            <Icon  role="img" aria-label="Cause" name="mdi:megaphone"/>
            Healthcare
          </a>
        </div>
        <div class="mobilize-website-link">
          <a class="mobilize-link" rel="external" target="_blank" href="https://www.mobilize.us/">            
            Visit Mobilize <br> Find an opportunity that inspires you!
          </a>
        </div>        
      </div>
    </div>
  </section>
  
  
  <section class="resist-home__section resist-featured__section">
  
    <div class="resist-featured">
      <div class="resist-featured__header">
        <p class="resist-featured__header--title">
         <Icon name="mdi:lightning-bolt" role="img" aria-hidden="true" />  Contact Your Reps
        </p>
      </div>
      <div class="resist-featured__body">
        <h3 class="resist-featured__body--title">
          ResistBot
        </h3>
        <Image src={MailBot} class="resist-featured__body--img" alt="A robot holding an envelope." />
        <p class="resist-featured__body--text">
          Make your voice heard! Resistbot is a chatbot that turns your texts into faxes, postal mail, or emails to your representatives in minutes.
        </p>
        <a rel="noopener nofollow" class="resist-featured__body--link" href="https://resist.bot/" data-umami-event="{quick-link}" target="_blank">
          Resist.bot
          <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
        </a>
      </div>
    </div>
  
    <div class="resist-featured">
      <div class="resist-featured__header">
        <p class="resist-featured__header--title">
          <Icon name="mdi:lightning-bolt" role="img" aria-hidden="true" />  Vote, Vote, Vote!
        </p>
      </div>
      <div class="resist-featured__body">
        <h3 class="resist-featured__body--title">
          Register to Vote
        </h3>
        <Image src={Vote} class="resist-featured__body--img" alt="Text reads 'Vote.org'" />
        <p class="resist-featured__body--text">
          Are you registered to vote? Check your status, register, vote by mail, and get election reminders.
        </p>
        <a rel="noopener nofollow" class="resist-featured__body--link" href="https://www.vote.org/" data-umami-event="{quick-link}" target="_blank">
          Vote.org
          <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
        </a>
        <a rel="noopener nofollow" class="resist-featured__body--link" href="https://www.votelikeabeast.com/" data-umami-event="{quick-link}" target="_blank">
          Vote Like A Beast
          <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
        </a>
        
      </div>    
    </div>
  
    <div class="resist-featured">
      <div class="resist-featured__header">
        <p class="resist-featured__header--title">
          <Icon name="mdi:lightning-bolt" role="img" aria-hidden="true" />  Use Your Money For Good
        </p>
      </div>
      <div class="resist-featured__body">
        <h3 class="resist-featured__body--title">
          Where is your money going?
        </h3>
        <Image src={YourMoney} class="resist-featured__body--img" alt="Stacks of coins and dollar bills." />

        <a rel="noopener nofollow external" class="resist-featured__body--link" href="https://www.opensecrets.org/" target="_blank">
          Open Secrets
          <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
        </a>
        <p class="resist-featured__body--text">
          Find companies who align with your cause and support them. Find what companies are funding politicians. 
        </p>
        <a rel="noopener nofollow external" class="resist-featured__body--link" href="https://www.balancenow.co/" target="_blank">
          Balance Now
          <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
        </a>
        <p class="resist-featured__body--text">
          A source for data on diversity of decision-makers in different companies, movie productions, government agencies, and nonprofits
        </p>
      </div>    
    </div>
  
  </section>
  
  <section class="resist-home__section downloads resist-featured__section"> 
    
    <h2 class="resist-steps__title downloads text-center" >Shop</h2>
    <div class="resist-featured downloads">
      <div class="resist-featured__header">
        <p class="resist-featured__header--title">
         <Icon name="mdi:shopping-outline" role="img" aria-hidden="true" />  Featured Product
        </p>
      </div>
      <div class="resist-featured__body--img-wrapper">
        <Image src={BreatheFree} class="downloadable-resource object-cover rounded-sm shadow-sm" alt=`T-shirt design showing an illustration of the Statue of Liberty with a modern graphic design twist. The background features a blue circle with white cartoon-style clouds and small birds. A speech bubble with a red heart inside is placed near the statue. Below, a quote from Emma Lazarus's poem reads: 'Give me your tired, your poor, your huddled masses yearning to breathe free,' with 'breathe free' italicized in a handwritten-style font. The website 'resistance-toolkit.com' is displayed at the bottom.` />
      </div>
      <div class="resist-featured__body">
        <h3 class="resist-featured__body--title">
          Breathe Free
        </h3>
        <p>Proceeds donated to charities and orgs featured on our site!</p>
        <a target="_blank" class="resist-featured__body--link" href="https://shop.resistance-toolkit.com/products/yearning-to-breathe-free" data-umami-event="{shop-breathe-free}">
          View Product
          <Icon name="mdi:shopping-outline" role="img" aria-hidden="true" />
        </a>
      </div>
    </div>
  
    <div class="resist-featured downloads">
      <div class="resist-featured__header">
        <p class="resist-featured__header--title">
         <Icon name="mdi:shopping-outline" role="img" aria-hidden="true" />  Featured Product
        </p>
      </div>
      <div class="resist-featured__body--img-wrapper">
        <Image src={Wealth} class="downloadable-resource object-cover rounded-sm shadow-sm" alt=`Red tee-shirt with a design showing a stylized chart depicting the U.S. Family Wealth Distribution.` />
      </div>
      <div class="resist-featured__body">
        <h3 class="resist-featured__body--title">
          Shrink The Wealth Gap
        </h3>
        <p>Proceeds donated to charities and orgs featured on our site!</p>
        <a target="_blank" class="resist-featured__body--link" href="https://shop.resistance-toolkit.com/products/wealth-gap-distribution" data-umami-event="{shop-wealth}">
          View Product
          <Icon name="mdi:shopping-outline" role="img" aria-hidden="true" />
        </a>
      </div>
    </div>
  
    <div class="resist-featured downloads">
      <div class="resist-featured__header">
        <p class="resist-featured__header--title">
         <Icon name="mdi:shopping-outline" role="img" aria-hidden="true" />  Featured Product
        </p>
      </div>
      <div class="resist-featured__body--img-wrapper">
        <Image 
          src={Union}
          class="downloadable-resource object-cover rounded-sm shadow-sm" 
          alt=`T-shirt design showing a book cover in the style of Penguin Classics. 
          The title of the book is "In order to form a more perfect union". 
          The graphic below the book title depicts a diverse group of people talking with the 
          Preamble of the Constitution written behind them in calligraphy.` 
        />
      </div>
      <div class="resist-featured__body">
        <h3 class="resist-featured__body--title">
          Perfect Union
        </h3>
        <p>Proceeds donated to charities and orgs featured on our site!</p>
        <a target="_blank" class="resist-featured__body--link" href="https://shop.resistance-toolkit.com/products/a-more-perfect-union" data-umami-event="{shop-union}">
          View Product
          <Icon name="mdi:shopping-outline" role="img" aria-hidden="true" />
        </a>
      </div>
    </div>
  
    <div class="resist-featured downloads">
      <div class="resist-featured__header">
        <p class="resist-featured__header--title">
         <Icon name="mdi:shopping-outline" role="img" aria-hidden="true" />  Featured Product
        </p>
      </div>
      <div class="resist-featured__body--img-wrapper">
        <Image 
          src={Hoodie} 
          class="downloadable-resource object-cover rounded-sm shadow-sm" 
          alt=`Dark navy blue hoodie with our Rosie mascot and The Resistance 
          Toolkit printed on the chest by the left sleeve.` />
      </div>
      <div class="resist-featured__body">
        <h3 class="resist-featured__body--title">
          Rosie's Ready - Hoodie
        </h3>
        <p>Proceeds donated to charities and orgs featured on our site!</p>
        <a target="_blank" class="resist-featured__body--link" href="https://shop.resistance-toolkit.com/products/rosies-ready-are-you-hoodie" data-umami-event="{resource-download}">
          View Product
          <Icon name="mdi:shopping-outline" role="img" aria-hidden="true" />
        </a>
      </div>
    </div>      
  </section>

  <section class="resist-home__section resist-shop__section">
    <p class="shop-subtitle">Fight Hate. Wear Love.</p>
    <a id="shopLink" class="shop-link" target="_blank" href="https://shop.resistance-toolkit.com">Visit Our Shop!</a>
  </section>
</div>


<script>
  document.addEventListener('astro:page-load', () => {
    const factBotSubmit = document.getElementById('factBotSubmit') as HTMLButtonElement;
    const factBotInputEl = document.getElementById('hs-trailing-button-add-on-with-icon') as HTMLInputElement;
    function handleSubmit(e: Event) {
      e.preventDefault();
      const factBotInput = (factBotInputEl)?.value;
      const params = new URLSearchParams();
      params.append('query', factBotInput);
      
      window.open(`https://www.snopes.com/factbot/?${params.toString()}`, '_blank');
    }

    factBotSubmit?.addEventListener('click', handleSubmit);
    factBotInputEl?.addEventListener('keydown', (e) => {
      if (e.key === 'Enter') {
        handleSubmit(e);
      }
    });
  });

</script>