---
import '@styles/Home.scss';
import { Image } from 'astro:assets';
import PickCause from '@assets/PickCause.png';
import CausePicker from './CausePicker.astro';
import { Icon } from 'astro-icon/components';
import MailBot from '@assets/mailbot.svg';
import VoteDotOrg from '@assets/votedotorg.svg';
import YourMoney from '@assets/YourMoney.svg';
import DEIA from '@assets/resources/DEIA.png';
import Somebody from '@assets/resources/IAmSomebody.png';
import Muse from '@assets/resources/Inspire-Song-Muse.png';
import ResistSquare from '@assets/resources/ResistanceSquare.png';
---
<div class="container max-w-6xl mx-auto">
  <section class="resist-home__section resist-start__section">
    <h2 class="resist-steps__title text-center" >Welcome To The Resistance</h2>
    <h3 class="font-bold my-2 pb-4 text-center">Step 1. Click on a cause to see organizations that support that cause!</h3>
    <CausePicker />
  </section>
</div>

<section class="resist-home__section resist-featured__section">

  <div class="resist-featured">
    <div class="resist-featured__header">
      <p class="resist-featured__header--title">
       <Icon name="mdi:lightning-bolt" role="img" aria-hidden="true" />  Quick Link
      </p>
    </div>
    <div class="resist-featured__body">
      <h3 class="resist-featured__body--title">
        ResistBot
      </h3>
      <Image src={MailBot} class="resist-featured__body--img" alt="A robot holding an envelope." />
      <p class="resist-featured__body--text">
        Make your voice heard! Resistbot is a chatbot that turns your texts into faxes, postal mail, or emails to your representatives in minutes.
      </p>
      <a rel="noopener nofollow" class="resist-featured__body--link" href="https://resist.bot/" target="_blank">
        Resist.bot
        <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
      </a>
    </div>
  </div>

  <div class="resist-featured">
    <div class="resist-featured__header">
      <p class="resist-featured__header--title">
        <Icon name="mdi:lightning-bolt" role="img" aria-hidden="true" />  Quick Link
      </p>
    </div>
    <div class="resist-featured__body">
      <h3 class="resist-featured__body--title">
        Register to Vote
      </h3>
      <Image src={VoteDotOrg} class="resist-featured__body--img" alt="Text reads 'Vote.org'" />
      <p class="resist-featured__body--text">
        Are you registered to vote? Check your status, register, vote by mail, and get election reminders.
      </p>
      <a rel="noopener nofollow" class="resist-featured__body--link" href="https://www.vote.org/" target="_blank">
        Vote.org
        <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
      </a>
    </div>    
  </div>

  <div class="resist-featured">
    <div class="resist-featured__header">
      <p class="resist-featured__header--title">
        <Icon name="mdi:lightning-bolt" role="img" aria-hidden="true" />  Quick Link
      </p>
    </div>
    <div class="resist-featured__body">
      <h3 class="resist-featured__body--title">
        Where is your money going?
      </h3>
      <Image src={YourMoney} class="resist-featured__body--img" alt="Stacks of coins and dollar bills." />
      <p class="resist-featured__body--text">
        Find companies who align with your cause and support them. Find what companies are funding politicians. 
      </p>
      <a rel="noopener nofollow external" class="resist-featured__body--link" href="https://www.goodsuniteus.com/" target="_blank">
        Goods Unite Us
        <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
      </a>
      <a rel="noopener nofollow external" class="resist-featured__body--link" href="https://www.opensecrets.org/" target="_blank">
        Open Secrets
        <Icon name="mdi:external-link" role="img" aria-label={'External link'} />
      </a>
    </div>    
  </div>

</section>

<section class="resist-home__section downloads resist-featured__section"> 
  
  <h2 class="resist-steps__title downloads text-center" >Downloads</h2>
  
  <div class="resist-featured downloads">
    <div class="resist-featured__header">
      <p class="resist-featured__header--title">
       <Icon name="mdi:download" role="img" aria-hidden="true" />  Download & Share
      </p>
    </div>
    <div class="resist-featured__body--img-wrapper">
      <Image src={ResistSquare} class="downloadable-resource object-cover rounded-sm shadow-sm" alt=`Text in the top left hand corner reads "The Resistance Toolkit, Tools You Need To Fight Hate. resistance-toolkit.com". In the bottom right had corner there is an illustration of a woman flexing her right arm.` />
    </div>
    <div class="resist-featured__body">
      <h3 class="resist-featured__body--title">
        Tools You Need
      </h3>
      <a class="resist-featured__body--link" href="/Resources/ResistSquare.png" download="Resistance Toolkit - Fight Hate">
        Download
        <Icon name="mdi:download" role="img" aria-hidden="true" />
      </a>
    </div>
  </div>

  <div class="resist-featured downloads">
    <div class="resist-featured__header">
      <p class="resist-featured__header--title">
       <Icon name="mdi:download" role="img" aria-hidden="true" />  Download & Share
      </p>
    </div>
    <div class="resist-featured__body--img-wrapper">
      <Image src={Somebody} class="downloadable-resource object-cover rounded-sm shadow-sm" alt=`Text reads "I am SOMEBODY. The Resistance Toolkit." A diverse group of  illustrated hands, clenched into fists, peak up behind a city skyline. Image is washed with a pink and purple filter.` />
    </div>
    <div class="resist-featured__body">
      <h3 class="resist-featured__body--title">
        I Am Somebody
      </h3>
      <a class="resist-featured__body--link" href="/Resources/IAmSomebody.png" download="Resistance Toolkit - Somebody">
        Download
        <Icon name="mdi:download" role="img" aria-hidden="true" />
      </a>
    </div>
  </div>

  <div class="resist-featured downloads">
    <div class="resist-featured__header">
      <p class="resist-featured__header--title">
       <Icon name="mdi:download" role="img" aria-hidden="true" />  Download & Share
      </p>
    </div>
    <div class="resist-featured__body--img-wrapper">
      <Image src={Muse} class="downloadable-resource object-cover rounded-sm shadow-sm" alt=`A silhouette of a woman with her right arm held up with a clenched fist is in the foreground with a rising sun in the background. Symbols and lines surround her. Text reads "Best, you've got to be the best You've got to change the world And use this chance to be heard by Muse".` />
    </div>
    <div class="resist-featured__body">
      <h3 class="resist-featured__body--title">
        Be Heard!
      </h3>
      <a class="resist-featured__body--link" href="/Resources/Inspire-Song-Muse.png" download="Resistance Toolkit - Be Heard">
        Download
        <Icon name="mdi:download" role="img" aria-hidden="true" />
      </a>
    </div>
  </div>

  <div class="resist-featured downloads">
    <div class="resist-featured__header">
      <p class="resist-featured__header--title">
       <Icon name="mdi:download" role="img" aria-hidden="true" />  Download & Share
      </p>
    </div>
    <div class="resist-featured__body--img-wrapper">
      <Image src={DEIA} class="downloadable-resource object-cover rounded-sm shadow-sm" alt=`Diversity, Equity, Inclusion, Accessibility: It's the law. Title 7 Of The Civil Rights Act, Americans With Disabilities Act, Age Discrimination In Employment Act, Equal Pay Act, Pregnancy Discrimination Act, Many More... DEIA initiatives merely ensure government agencies follow the law, not to force "illegal and immoral discrimination programs."` />
    </div>
    <div class="resist-featured__body">
      <h3 class="resist-featured__body--title">
        DEI - It's The Law
      </h3>
      <a class="resist-featured__body--link" href="/Resources/DEIA.png" download="Resistance Toolkit - DEI">
        Download
        <Icon name="mdi:download" role="img" aria-hidden="true" />
      </a>
    </div>
  </div>
    
</section>