---
import toolkit from '../assets/Toolkit.png';
import background from '../assets/background.svg';
import PickCause from '../assets/PickCause.png';
import StayInformed from '../assets/StayInformed.png';
import Recover from '../assets/Recharge.png';
import Restart from '../assets/Restart.png';
import TakeAction from '../assets/TakeAction.png';
import Nav from '../components/Nav.astro';
import ComingSoon from './ComingSoon.astro';
---
{!import.meta.env.PROD ?
<div>
	<Nav />
		<div class="header-wrapper py-4">
			<div class="columns is-centered mt-3">
				<header class="column columns is-centered is-four-fifths">
					<div class="column left-header py-4 ">
						<h1 class="is-text-centered">
							<span>The</span> Resistance Toolkit
						</h1>
						<p>Tools You Need To <span class="bold">Fight</span> Hate</p>
					</div>
					<!-- <div class="column is-one-quarter right-header">
						<img src={toolkit.src} alt="The Resistance Toolkit logo." />
					</div> -->
				</header>
			</div>
		</div>


		<main id="main" class=" mt-3">
			<section class="column is-6 is-offset-3">
				<h2 class="steps-title has-text-centered" >Fight Hate. One Step At a Time.</h2>
				<ol class="home-steps">
					<li>
						<a class="step-link" href="/causes">
							<img src={PickCause.src} height="50" width="50" alt="">
							<p>Pick a cause.</p>
						</a>
					</li>
					<li>
						<a class="step-link" href="/informed">
							<img src={StayInformed.src} height="50" width="50" alt="">
							<p>Stay Informed.</p>
						</a>
					</li>
					<li>
						<a class="step-link" href="/actions">
							<img src={TakeAction.src} height="50" width="50" alt="">
							<p>Take an Action.</p>
						</a>
					</li>
					<li>
						<a class="step-link" href="/recover">
							<img src={Recover.src} height="50" width="50" alt="">
							<p>Recover.</p>
						</a>
					</li>
					<li>
						<a class="step-link" href="/causes">
							<img src={Restart.src} height="50" width="50" alt="">
							<p>Repeat.</p>
						</a>
					</li>
				</ol>
				<p>
					<span class="bold italic">Note:</span>
					This implementation is primarily focused on <span class="bold">U.S. politics and issues,</span> but after some feedback I am working on an 
					international version of this toolkit, because hate is obviously a global issue.
				</p>			
			</section>

			<section class="column is-6 is-offset-3">
				<h2 class="steps-title has-text-centered	">What is the Resistance Toolkit?</h2>
				<p>Learn about this project, its mission, and why it's Open Sourced in the <a href="/about">About page.</a></p>

			</section>

			<section class="column is-6 is-offset-3">
				<h2 class="steps-title has-text-centered	">How To Contribute to This Project.</h2>
			</section>
			
		</main> 
	</div>:
		<ComingSoon />	
	}