---
import '../orgs/[slug]/_org.scss'
import './_actions.scss';
import { type Org, orgs } from '../../data';
import Layout from '../../layouts/Layout.astro';
const { slug } = Astro.params;
import bskyQR from '@assets/qr-code.png';
import banner from '@assets/Step3-New.png';
import { Image } from 'astro:assets';
import MailBot from '@assets/mailbot.svg';
import GoodsUnite from '@assets/GoodsUniteUs.png';
import OS from '@assets/OS.png';

import { Icon } from "astro-icon/components";

export function getStaticPaths() {
  return [
    ...orgs.map((org) => ({
      params: {
        slug: org.slug
      }
    }))
  ]
}

// const { searchParams } = new URL(Astro.request.url);
// const cause = searchParams.get('cause');
const org = orgs.find((org) => org.slug === slug) as Org;
---


<Layout 
  title={org.name}
  description={org.description}
  image={''}
  >
  <header class="max-w-6xl mx-auto" slot="header">
    <img src={banner.src} alt="Stay Informed">
    <nav aria-label="Breadcrumb" class="flex breadcrumb">
      <ol class="flex mt-3 overflow-hidden rounded-lg border border-gray-200 text-gray-600">
        <li class="flex items-center justify-center">
          <a href="/" class="flex h-10 items-center gap-1.5 bg-gray-100 px-4 transition hover:text-gray-900">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            class="size-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
            />
            </svg>
            <span class="ms-1.5 text-xs font-medium"> Home </span>
          </a>
        </li>          
        <li class="relative flex items-center">
          <span
            class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
          >
          </span>
          <a href="/causes" class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
            Causes
          </a>
        </li>
        <li class="relative flex items-center">
          <span
            class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
          >
          </span>
          <a id="org-link" href="/cause" class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
            Organizations
          </a>
        </li>
        <li class="relative flex items-center">
          <span
            class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
          >
          </span>
          <a id="informed-link" href={`/orgs/${org.slug}`} class="flex h-10 items-center bg-gray-100 pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
            Informed
          </a>
        </li>
        <li class="relative flex items-center">
          <span
            class="absolute inset-y-0 -start-px h-10 w-4 bg-gray-100 [clip-path:_polygon(0_0,_0%_100%,_100%_50%)] rtl:rotate-180"
          >
          </span>
          <a href="/recover" class="flex h-10 items-center bg-white pe-4 ps-8 text-xs font-medium transition hover:text-gray-900" aria-current="page">
            Next Step
          </a>
        </li>
        <!-- <li><a href="/informed">Next Step</a></li> -->
      </ol>
    </nav>
  </header>
  
  <section class="org-header">    
    <h1 class="org-header__title">{org.name}</h1>
    <div class="level">
      <div class="level-left">        
        {org.cause && org.cause.map((cause) => {
          return <span class="cause-tag whitespace-nowrap rounded-full px-2.5 py-0.5 text-sm"><a href={`/cause/${cause}`}>{cause}</a></span>
        })}          
      </div>    
    </div>
  </section>
  <section class="org-section org-content">
    <div class="org-info">
      <div class="org-description">
        <h2 class="flex items-center"><Icon aria-hidden="true" name="mdi:about"/> About</h2>
        <p>{org.description}</p>        
      </div>
      <div class="org-contact">
        <h2 class="flex items-center"><Icon name="mdi:web-check"/> Website</h2>
        <p>
          <a href={org.url} target="_blank">{org.url}</a>
        </p>
        <h2 class="flex items-center"> <Icon name="mdi:megaphone"/> Social Media</h2>
        <div class="social-tags">    
          {org.social && org.social.map((social) => {
            return (
            <span class="tag">
              <a href={social.url} title={`View ${org.name} on ${social.platform}`} target="_blank">{social.platform}</a>
            </span>        
          )
          })}
        </div>        
      </div>
    </div>
  </section>
  <section class="mt-8 actions-section max-w-6xl mx-auto">
    <h2 class="action-section__title">Actions - Table of Contents</h2>
    <ul class="resist-actions__toc">
      <li>
        <a href="#org-actions">What Are Your Organizations Suggesting?</a>
      </li>
      <li>
        <a href="#contact">Contact Your Representatives</a>
      </li>
      <li>
        <a href="#volunteer">Volunteer</a>
      </li>
      <li>
        <a href="#vote">Register to Vote</a>
      </li>
      <li>
        <a href="#donate">Donate</a>
      </li>
      <li>
        <a href="#spending">Analyze Where You Are Spending Your Money</a>
      </li>
      <li>
        <a href="#learning">Learning / Education</a>
      </li>
    </ul>
    <div class="action max-w-4xl">
      <h2 id="org-actions" class="action-section__title">What Is Your Organization Suggesting?</h2>
      <ul>
        {org.actions && org.actions.map((action) => {
          return (
          <li>
            <a href={action.url} class="text-blue-800" target="_blank">{action.action}</a>
          </li>        
        )
        })}
      </ul>
    </div>
    <div class="action max-w-4xl">
      <h2 id="contact" class="action-section__title">Contact Your Representatives</h2>
      <p>
        Make your voice heard! Write to or call your representatives at the local, state, and national level. 
        Urge them to take up your cause, or call them out on stances you disagree with. Every email, letter, or 
        message is counted and is an <span class="font-bold">important</span> indicator that your cause is important to their constituents.
      </p>
      <h3 class="action-link__title">
        <a href="https://resist.bot" target="_blank">ResistBot</a>
      </h3>
      <p>
        Resistbot is a chatbot that turns your texts into faxes, postal mail, or emails to your representatives in minutes.
      </p>
      <Image src={MailBot} alt="ResistBot" class=""/>
      <p>
        Send the word RESIST to Resistbot on 
      </p>
      <ul>
        <li>
          <a href="https://bcrw.apple.com/sms:open?service=iMessage&recipient=urn:biz:d0189b65-f844-4344-adc1-d2d01daca04e&body=resist" target="_blank">Apple Messages</a>,
        </li>
        <li>
          <a href="https://www.messenger.com/t/1224106861035505?text=resisthttps://www.messenger.com/t/1224106861035505?text=resist" target="_blank">Messenger</a>, 
        </li>
        <li>
          <a href="https://www.instagram.com/direct/t/107534807309194/?text=" target="_blank">Instagram</a>, 
        </li>
        <li>
          <a href="https://t.me/resistbot?start=resist" target="_blank">Telegram</a>, 
        </li>
      </ul>          
      <p>
        or by text to <a href="sms:50409" target="_blank">50409</a> and answer the questions texted back. 
      </p>
      <p>
        In minutes, you’ll have contacted Congress or your other elected officials. <a href="https://resist.bot/letters" target="_blank">Make your letter open</a> for maximum effect.
      </p>

      <h3 class="action-link__title">
        <a href="https://www.usa.gov/elected-officials" target="_blank">Find Your Elected Officials</a>
      </h3>
      <p>
        USA.gov has a tool to to find your Federal, State, and Local officials, just enter your address. 
        They provide a <span class="font-bold">physical address</span>, <span class="font-bold">phone numbers</span>, and 
        <span class="font-bold">social media accounts</span> for every elected official. 
      </p>            
    </div>

    <div class="action max-w-4xl">
      <h2 id="volunteer" class="action-section__title">Volunteer</h2>
      <p>
        Check if your cause or organization has volunteer openings or memberships.
      </p>

      <h3 class="action-link__title">
        <a href="https://www.volunteermatch.org/" target="_blank">VolunteerMatch.org</a>
      </h3>
      <p>
        VolunteerMatch believes that volunteering can change lives – starting with yours. When we connect with our 
        communities and each other through service we can find our passion and purpose, build camaraderie and hope, 
        and experience joy and gratitude.
      </p>

      <h3 class="action-link__title">
        <a href="https://www.eac.gov/help-america-vote" target="_blank">Volunteer as a Poll Worker</a>
      </h3>
      <p>
        Poll workers are essential to ensure elections are a success. During each election, millions of Americans 
        dedicate themselves to sustaining the backbone of democracy - our election process.
      </p>
    </div>

    <div class="action max-w-4xl">
      <h2 id="vote" class="action-section__title">Register to Vote</h2>
      <p>
        Register or check your registration status and find out what issues are on your ballot.
      </p>

      <h3 class="action-link__title">
        <a href="https://www.vote.org/" target="_blank">Vote.org</a>
      </h3>
      
      <h3 class="action-link__title">
        <a href="https://www.votelikeabeast.com/" target="_blank">Vote Like A Beast</a>
      </h3>
    </div>

    <div class="action max-w-4xl">
      <h2 id="donate" class="action-section__title">Donate</h2>
      {org.donate ? 
        <a href={org.donate} target="_blank">Donate to {org.name}</a> :
        <p>
          Check if your chosen cause or organization is accepting donations and find out if they have an annual or monthly membership. 
        </p>
        <h3 class="action-link__title">
          <a href="https://www.charitynavigator.org/" target="_blank">Charity Navigator</a>
        </h3>
        <p>
          Charity Navigator helps millions of people take action and support the causes they care about by connecting them to the best charities that align with their passions and values.
        </p>
      }
    </div>
    <div class="action max-w-4xl">
      <h2 id="spending" class="action-section__title">Analyze Where You Are Spending Your Money</h2>
      <p>
        For better, or for worse, some companies and politicians only seem to respond to boycotts or an increase in sales. So wield your purchasing power carefully! 
      </p>
      <p>
        Find companies who align with your cause and support them. 
      </p>
      <p>
        Find companies that don't support your cause and spend your money at alternative companies.
      </p>
      <h3 class="action-link__title">
        <a href="https://www.goodsuniteus.com/" target="_blank">Goods Unite Us</a>
      </h3>
      <p>
        Search for a company and see their politics. Do some research and spend your money wisely!
      </p>
      <Image src={GoodsUnite} alt="Screenshot of a dashboard showing breakdowns and graphs of donations a company has made."/>
      <h3 class="action-link__title">
        <a href="https://www.opensecrets.org/" target="_blank">Open Secrets</a>
      </h3>
      <p>
        Look up a politician to see who is funding their campaign. Look up a company to see who and where they are making donations to. 
      </p>
      <Image src={OS} alt="Screenshot of a dashboard showing who has been donating to a politician."/>
    </div>

    <div class="action max-w-4xl">
      <h2 id="learning" class="action-section__title">Learning / Education</h2>
      <p>
        It's important to actively learn about the issues you are passionate about. Consider taking a class, read a book, or do a project that will immerse yourself into your cause.
      </p>
      <p>
        These are just a few examples. Do some research to find opportunities near you or about what you are interested in. 
      </p>
      <ul class="resist-learning__list">
        <li>
          <a href="https://webaim.org/services/training/" target="_blank">WebAIM Accessibility Training Courses</a>
        </li>
        <li>
          Online Courses, Certifications
          <ul>
            <li>
              <a href=https://pll.harvard.edu/catalog/free?page=1" target="_blank">Harvard Free Courses</a>
              <ul>
                <li>
                  <a href="https://pll.harvard.edu/course/women-making-history-ten-objects-many-stories" target="_blank">Women Making History: Ten Objects, Many Stories</a>
                </li>
                <li>
                  <a href="https://pll.harvard.edu/course/justice" target="_blank">Justice</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="https://online.osu.edu/" target="_blank">OSU Online</a>
              <ul>
                <li>
                  <a href="https://online.osu.edu/undergraduate-certificates/black-studies-certificate/" target="_blank">Black Studies Certificate</a>
                </li>
                <li>
                  <a href="(https://online.osu.edu/undergraduate-certificates/diversity-equity-inclusion-certificate/" target="_blank">Diversity, Equity, and Inclusion Certificate</a>
                </li>
              </ul>
            </li>

            <li>
              <a href="https://ocw.mit.edu/" target="_blank">MIT OpenCourseWare</a>
              <ul>
                <li>
                  <a href="https://ocw.mit.edu/courses/17-251-congress-and-the-american-political-system-i-fall-2016/" target="_blank">Congress and the American Political System I</a>
                </li>
                <li>
                  <a href="https://ocw.mit.edu/courses/wgs-160j-science-activism-gender-race-and-power-fall-2019/" target="_blank">Science Activism: Gender, Race, and Power</a>
                </li>
                <li>
                  <a href="https://ocw.mit.edu/courses/cms-631-data-storytelling-studio-climate-change-spring-2017/" target="_blank">Data Storytelling Studio: Climate Change</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          Books (Physical and Audio)
          <ul>
            <li>
              <a href="https://us.macmillan.com/books/9781250288240/thetruthaboutimmigration/" target="_blank">The Truth About Immigration</a>
            </li>
            <li>
              <a href="https://www.powells.com/featured/antiracism" target="_blank">Books on Racism</a>
            </li>
            <li>
              <a href="https://glaad.org/eight-books-from-trans-authors-to-read-for-trans-awareness-week/" target="_blank">Books by Trans Authors</a>
            </li>
            <li>
              <a href="https://www.goodreads.com/shelf/show/accessibility" target="_blank">Books on Accessibility</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
    
      
        
</Layout>

<script>
  document.addEventListener('astro:page-load', () => {
    let cause: string | null;
    cause = null;
    
    const urlSearchParams = new URLSearchParams(window.location.search);
    if(urlSearchParams.has('cause')) {
      cause = urlSearchParams.get('cause');
    }
    const orgLink = document.getElementById('org-link');
    const informedLink = document.getElementById('informed-link');
    if(cause !== null && orgLink !== null) {
      orgLink.setAttribute('href', `/cause/${cause}`);
    }
    if(cause !== null && informedLink !== null) {
      const oldHref = informedLink.getAttribute('href');
      const newHref = oldHref + `?cause=${cause}`;
      informedLink.setAttribute('href', newHref);
    }
  
    console.log('Current cause: ', cause);
  })
</script>