---
import '@styles/_org.scss'
import '@styles/_actions.scss';
import { type Org, orgs } from '@data/index';
import { type Cause, causes } from '@data/index';
import Layout from '../../layouts/Layout.astro';
const { slug } = Astro.params;
import banner from '@assets/Step3-New.png';
import Rosie from '@assets/Rosie.svg';
import Donate from '@assets/Donate.svg';
import Contact from '@assets/Contact.svg';
import Register from '@assets/Register.svg';
import Volunteer from '@assets/Volunteer.svg';
import Learn from '@assets/Learn.svg';
import ResearchMoney from '@assets/ResearchMoney.svg';
import { Image } from 'astro:assets';
import MailBot from '@assets/mailbot.svg';
import GoodsUnite from '@assets/GoodsUniteUs-2.png';
import OS from '@assets/OpenSecrets.png';

import { Icon } from "astro-icon/components";

export function getStaticPaths() {
  return [
    ...orgs.map((org) => ({
      params: {
        slug: org.slug
      }
    }))
  ]
}
const org = orgs.find((org) => org.slug === slug) as Org;

let volunteer: {action: string, url: string, category?: string}[] = [];
let hasVolunteer = false;
let education: {action: string, url: string, category?: string}[] = [];
let donations: {action: string, url: string, category?: string}[] = [];
let store: {action: string, url: string, category?: string}[] = [];

let hasStore = false;
let hasEducation = false;
let hasOtherDonations = false;


if(org.actions) {
  volunteer = org.actions.filter((action) => action.category === 'volunteer');
  hasVolunteer = volunteer.length > 0 ? true : false;

  donations = org.actions.filter((action) => action.category === 'donate');
  hasOtherDonations = donations.length > 0 ? true : false;

  education = org.actions.filter((action) => action.category === 'education');
  hasEducation = education.length > 0 ? true : false;

  store = org.actions.filter((action) => action.category === 'money');
  hasStore = store.length > 0 ? true : false;
}

const orgCauses = org.cause.map((cause) => {
  return causes.find((c) => c.slug === cause) as Cause;
});

---


<Layout 
title={`The Resistance Toolkit - ${org.name}`}
  description={`See how to support ${org.name}`}
  image={`${Astro.site}Org-Share.png`}
  imageAlt='Text reads Featured Org. Next to the text is an illustration of a woman flexing her right arm in the style of Rosie the Riveter.'
  >
  <header class="max-w-6xl mx-auto" slot="header">
    <Image class="no-touchy" src={banner} alt="Stay Informed" />
  </header>
  
  <section class="org-header">    
    <h1 class="org-header__title">{org.name}</h1>
    <div class="level">
      <div class="level-left">        
        {org.cause && org.cause.map((cause) => {
          return <span class="cause-tag whitespace-nowrap rounded-full px-2.5 py-0.5 text-sm"><a href={`/cause/${cause}`}>{cause}</a></span>
        })}          
      </div>    
    </div>
  </section>
  <section  class="org-section org-content" aria-labelledby="hs-show-hide-collapse">
    <div class="org-info">
      <div class="org-description">
        <h2 class="flex items-center"><Icon aria-hidden="true" name="mdi:about"/> About</h2>
        <p>{org.description}</p>        
      </div>
      <div class="org-contact">
        <h2 class="flex items-center mb-4"><Icon name="mdi:web-check"/> Website</h2>
        <p>
          <a rel="noopener nofollow external" href={org.url} target="_blank">{org.url}</a>
        </p>
        <h2 class="flex items-center my-4 pb-2"> <Icon name="mdi:megaphone"/> Social Media</h2>
        <div class="social-tags">    
          {org.social && org.social.map((social) => {
            return (
            <span class="tag">
              <a rel="noopener nofollow external" href={social.url} title={`View ${org.name} on ${social.platform}`} target="_blank">{social.platform}</a>
            </span>        
          )
          })}
        </div>        
      </div>
    </div>
  </section>
  <section class="mt-8 action max-w-6xl mx-auto">
    <nav aria-label="Table of Contents" class="max-w-4xl mx-auto">
      <h2 class="action-section__title text-center">Actions - Table of Contents</h2>
      <ul class="resist-actions__toc max-w-sm rounded-lg shadow-sm flex mx-auto flex-col">
        <li class="toc__item">
          <a href="#org-actions">What Are Your Organizations Suggesting?</a>
        </li>
        <li class="toc__item">
          <a href="#donate">Donate</a>
        </li>        
        <li class="toc__item">
          <a href="#contact">Contact Your Representatives</a>
        </li>
        <li class="toc__item">
          <a href="#volunteer">Volunteer</a>
        </li>
        <li class="toc__item">
          <a href="#vote">Register to Vote</a>
        </li>
        <li class="toc__item">
          <a href="#spending">Analyze Where You Are Spending Your Money</a>
        </li>
        <li class="toc__item">
          <a href="#learning">Training / Education</a>
        </li>
        <li class="toc__item">
          <a href="#next-step">Next Step</a>
        </li>
      </ul>
    </nav>
  </section>
  <section  class="mt-8 actions-section max-w-6xl mx-auto">

    <div class="action">
      <Image src={Rosie} role="img" width={150} height={150} alt="Rosie the Riveter flexing her right arm." class="action-icon no-touchy"/>
      <div class="action-wrapper">
        <h2 id="org-actions" class="action-section__title">What Is Your Organization Suggesting?</h2>
        <p>          
          The following are actions straight from the {org.name} website.
        </p>
        {org.actions && org.actions.length > 0 ? 
          <ul class="flex mt-4 flex-wrap action-items__list">
            {org.actions && org.actions.map((action) => {
              if(action.category === 'education') {
                return;
              }
              return (
              <li>
                <a rel="noopener nofollow external" href={action.url} class="action-items inline-flex items-center" target="_blank">
                  <Icon name="mdi:stars" aria-hidden="true" role={"img"} class="mr-2"/>
                  {action.action}
                </a>
              </li>        
            )
            })}
          </ul> :
          <p>
            Sorry, we couldn't find any immediate actions for {org.name} from their website. Please check their <a href={org.url} target="_blank">website</a> because they might have added some recently!
          </p>
        }
      </div>

    </div>
    <div class="action">      
      <Image src={Donate} role="img" width={150} height={150} alt="An open box with three stars jumping out." class="action-icon no-touchy"/>
      <div class="action-wrapper">
      <h2 id="donate" class="action-section__title">Donate</h2>
      {org.donate ? 
        <a rel="noopener nofollow external" href={org.donate} target="_blank" class="donate-btn inline-flex items-center">
         <Icon name="mdi:donate" aria-hidden="true" role={"img"} class="mr-2"/> Donate to {org.name}
        </a> :
        <p>
          We didn't find a donation link for your Organization. But Charity Navigator is a great tool to find charities that champion your cause. 
        </p>
        <h3 class="action-link__title">
          <a href="https://www.charitynavigator.org/" target="_blank">Charity Navigator</a>
        </h3>
        <p>
          Charity Navigator helps millions of people take action and support the causes they care about by connecting them to the best charities that align with their passions and values.
        </p>
      }
      {hasOtherDonations && (
        donations.map((donate) => {
         return (
            <a rel="noopener nofollow external" href={donate.url} class="donate-btn inline-flex items-center mx-2" target="_blank">
              <Icon name="mdi:donate" aria-hidden="true" role={"img"} class="mr-2"/>
              {donate.action}
            </a>
          )
        })          
      )}
      {hasStore ? 
        <div>
          <p class="font-bold mt-4 mb-1">{org.name} has a store. Check it out!</p>
          {store.map((shop) => {
            return (
            <a rel="noopener nofollow external" href={shop.url} class="donate-btn inline-flex items-center" target="_blank">
              <Icon name="mdi:donate" aria-hidden="true" role={"img"} class="mr-2"/>
              {shop.action}
            </a>            
          )})
          }

        </div> :
        null

      }
      </div>
    </div>    
    <div class="action">
      <Image src={Contact} role="img" width={150} height={150} alt="Megaphone with lines emanating from the horn." class="action-icon top no-touchy"/>
      <div class="action-wrapper">
        <h2 id="contact" class="action-section__title">Contact Your Representatives</h2>
        <p>
          Make your voice heard! Write to or call your representatives at the local, state, and national level. 
          Urge them to take up your cause, or call them out on stances you disagree with. Every email, letter, or 
          message is counted and is an <span class="font-bold">important</span> indicator that your cause is important to their constituents.
        </p>
        <h3 class="action-link__title">
          <a rel="noopener nofollow external" href="https://resist.bot" target="_blank">ResistBot</a>
        </h3>
        <p>
          Resistbot is a chatbot that turns your texts into faxes, postal mail, or emails to your representatives in minutes.
        </p>
        <Image src={MailBot} alt="ResistBot" class=""/>
        <p>
          Send the word RESIST to Resistbot on <a rel="noopener nofollow external" href="https://bcrw.apple.com/sms:open?service=iMessage&recipient=urn:biz:d0189b65-f844-4344-adc1-d2d01daca04e&body=resist" target="_blank">Apple Messages</a>,
          <a rel="noopener nofollow external" href="https://www.messenger.com/t/1224106861035505?text=resisthttps://www.messenger.com/t/1224106861035505?text=resist" target="_blank">Messenger</a>, 
          <a rel="noopener nofollow external" href="https://www.instagram.com/direct/t/107534807309194/?text=" target="_blank">Instagram</a>, 
          <a rel="noopener nofollow external" href="https://t.me/resistbot?start=resist" target="_blank">Telegram</a>, or by text to <a href="sms:50409" target="_blank">50409</a> and answer the questions texted back. 
        </p>         
        <p>
          In minutes, you’ll have contacted Congress or your other elected officials. <a href="https://resist.bot/letters" target="_blank">Make your letter open</a> for maximum effect.
        </p>

        <h3 class="action-link__title">
          <a rel="noopener nofollow external" href="https://www.usa.gov/elected-officials" target="_blank">Find Your Elected Officials</a>
        </h3>
        <p>
          USA.gov has a tool to to find your Federal, State, and Local officials, just enter your address. 
          They provide a <span class="font-bold">physical address</span>, <span class="font-bold">phone numbers</span>, and 
          <span class="font-bold">social media accounts</span> for every elected official. 
        </p>
      </div>            
    </div>

    <div class="action">
      <Image src={Volunteer} role="img" width={150} height={150} alt="Outline of two hands overlap to make a heart." class="action-icon top no-touchy"/>
      <div class="action-wrapper">
        <h2 id="volunteer" class="action-section__title">Volunteer</h2>
        {hasVolunteer ? 
          volunteer.map((thisVolunteer) => {
          return (
            <a href={thisVolunteer.url} class="volunteer-btn inline-flex mx-2 items-center" target="_blank">
              <Icon name="mdi:volunteer" aria-hidden="true" role={'img'} class="mr-2"/> { thisVolunteer.action }
            </a>
          )
          }) :
          <p>
            We didn't find volunteer opportunities with {org.name}.  
            But you can use these resources to check if your chosen cause or organization has volunteer openings or memberships.
          </p>
          
          <h3 class="action-link__title">
            <a rel="noopener nofollow external" href="https://www.volunteermatch.org/" target="_blank">VolunteerMatch.org</a>
          </h3>
          <p>
            VolunteerMatch believes that volunteering can change lives – starting with yours. When we connect with our 
            communities and each other through service we can find our passion and purpose, build camaraderie and hope, 
            and experience joy and gratitude.
          </p>

          <h3 class="action-link__title">
            <a rel="noopener nofollow external" href="https://www.eac.gov/help-america-vote" target="_blank">Volunteer as a Poll Worker</a>
          </h3>
          <p>
            Poll workers are essential to ensure elections are a success. During each election, millions of Americans 
            dedicate themselves to sustaining the backbone of democracy - our election process.
          </p>
        }  
      </div>
    </div>

    <div class="action">
      <Image src={Register} role="img" width={150} height={150} alt="An icon of a pencil is writing on a curled piece of paper." class="action-icon no-touchy"/>
      <div class="action-wrapper">        
        <h2 id="vote" class="action-section__title">Register to Vote</h2>
        <p>
          Register or check your registration status and find out what issues are on your ballot.
        </p>

        <h3 class="action-link__title">
          <a rel="noopener nofollow external" href="https://www.vote.org/" target="_blank">Vote.org</a>
        </h3>
        
        <h3 class="action-link__title">
          <a rel="noopener nofollow external" href="https://www.votelikeabeast.com/" target="_blank">Vote Like A Beast</a>
        </h3>
      </div>
    </div>

    <div class="action">
      <Image src={ResearchMoney} role="img" width={150} height={150} alt="A magnifying glass hovers as lines emanate from the glass." class="action-icon top no-touchy"/>
      <div class="action-wrapper">      
        <h2 id="spending" class="action-section__title">Analyze Where You Are Spending Your Money</h2>      
        <p>
          For better, or for worse, some companies and politicians only seem to respond to boycotts or an increase in sales. So wield your purchasing power carefully! 
        </p>
        <p>
          Find companies who align with your cause and support them. 
        </p>
        <p>
          Find companies that don't support your cause and spend your money at alternative companies.
        </p>
        <h3 class="action-link__title">
          <a rel="noopener nofollow external" href="https://www.goodsuniteus.com/" target="_blank">Goods Unite Us</a>
        </h3>
        <p>
          Search for a company and find their political donations. Get suggestions for alternative brands. Do some research and spend your money wisely!
        </p>
        <Image class="money-image" src={GoodsUnite} alt="Screenshot of a dashboard showing breakdowns and graphs of donations a company has made." />
        <h3 class="action-link__title open-secrets">
          <a rel="noopener nofollow external" href="https://www.opensecrets.org/" target="_blank">Open Secrets</a>
        </h3>
        <p>
          Look up a politician to see who is funding their campaign.
        </p>
        <Image class="money-image" src={OS} alt="Screenshot of a dashboard showing who has been donating to a politician."/>
      </div>
    </div>

    <div class="action">
      <Image src={Learn} role="img" width={150} height={150} alt="A pen and a pencil are crossed, similar to skull and crossbones. Symbols of arrows and eyes surround them." class="action-icon top no-touchy"/>
      <div class="action-wrapper">      
        <h2 id="learning" class="action-section__title">Learning / Education</h2>
        <p class="mt-2">
          It's important to actively learn about the issues you are passionate about. Consider taking a class, read a book, or do a project that will immerse yourself into your cause.
          </p>
        {hasEducation ? 
          <p class="my-2">
            Here are some resources {org.name} has provided.
          </p> :        
          <p class="my-2 no-education">
            We didn't find any specific educational resources on the {org.name} website. But it's <a rel="noopener nofollow external" href={org.url} target="_blank">worth checking their site periodically</a> because things are changing quickly! 
          </p>
        }
        {hasEducation && (
          education.map((educate) => {
          return (
              <a rel="noopener nofollow external" href={educate.url} class="donate-btn inline-flex items-center mx-1" target="_blank">
                <Icon name="mdi:stars" aria-hidden="true" role={"img"} class="mr-2"/>
                {educate.action}
              </a>
            )
          })          
        )}

        <p class="my-2">
          The following are some general examples of the types of courses and books you could look for. 
        </p>
        <ul class="resist-learning__list">
          <li>
            <p class="font-bold">Books on Causes {org.name} is Involved With</p>
            <ul>
              {orgCauses && orgCauses.map((cause) => {
                return (
                  <li>
                    <a rel="noopener nofollow external" href={cause.books} target="_blank">{cause.title}</a>
                  </li>
                )
              })}
            </ul>
          </li>
          <li >
            <a rel="noopener nofollow external" href="https://webaim.org/services/training/" class="font-bold" target="_blank">WebAIM Accessibility Training Courses</a>
          </li>
          <li>
            <p class="font-bold">Online Courses, Certifications</p>
            <ul>
              <li>
                <a rel="noopener nofollow external" href=https://pll.harvard.edu/catalog/free?page=1" class="font-bold" target="_blank">Harvard Free Courses</a>
                <ul>
                  <li>
                    <a rel="noopener nofollow external" href="https://pll.harvard.edu/course/women-making-history-ten-objects-many-stories" target="_blank">Women Making History: Ten Objects, Many Stories</a>
                  </li>
                  <li>
                    <a rel="noopener nofollow external" href="https://pll.harvard.edu/course/justice" target="_blank">Justice</a>
                  </li>
                </ul>
              </li>

              <li>
                <a rel="noopener nofollow external" href="https://online.osu.edu/" class="font-bold" target="_blank">OSU Online</a>
                <ul>
                  <li>
                    <a rel="noopener nofollow external" href="https://online.osu.edu/undergraduate-certificates/black-studies-certificate/" target="_blank">Black Studies Certificate</a>
                  </li>
                  <li>
                    <a rel="noopener nofollow external" href="https://online.osu.edu/undergraduate-certificates/diversity-equity-inclusion-certificate/" target="_blank">Diversity, Equity, and Inclusion Certificate</a>
                  </li>
                </ul>
              </li>

              <li>
                <a rel="noopener nofollow external" href="https://ocw.mit.edu/" class="font-bold" target="_blank">MIT OpenCourseWare</a>
                <ul>
                  <li>
                    <a rel="noopener nofollow external" href="https://ocw.mit.edu/courses/17-251-congress-and-the-american-political-system-i-fall-2016/" target="_blank">Congress and the American Political System I</a>
                  </li>
                  <li>
                    <a rel="noopener nofollow external" href="https://ocw.mit.edu/courses/wgs-160j-science-activism-gender-race-and-power-fall-2019/" target="_blank">Science Activism: Gender, Race, and Power</a>
                  </li>
                  <li>
                    <a rel="noopener nofollow external" href="https://ocw.mit.edu/courses/cms-631-data-storytelling-studio-climate-change-spring-2017/" target="_blank">Data Storytelling Studio: Climate Change</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="action">
      <div class="action-wrapper">
        <h2 id="next-step" class="action-section__title">Next Step</h2>
        <p>
          Completed your action? Great! Now it's time to move on to the last step.
        </p>
        <a rel="next" href="/recover" class="recovery-btn inline-flex items-center">
          <Icon name="mdi:arrow-right" aria-hidden="true" role={"img"} class="mr-2"/> Next Step
        </a>
      </div>
    </div>
  </section>   
</Layout>