---
import './Layout.scss';
import { Image } from 'astro:assets';
import { ClientRouter } from "astro:transitions";
import { GoogleAnalytics } from '@aqzhyi/google-analytics';
import Footer from 'src/components/Footer.astro';
import { Icon } from "astro-icon/components";
interface Props {
  title: string;
  image?: string;
  description?: string;
}
const {
  title,
  image = "Social-Share.png",
  description = "The tools you need to fight hate. One step at a time.",
} = Astro.props;

import Toolkit from '@assets/Toolkit.png';

const imageUrl = import.meta.env.PUBLIC_URL ? new URL(image, import.meta.env.PUBLIC_URL) : image;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta property="og:title" content={title} />
    <meta property="og:type" content="app" />
    <meta property="og:image" content={`https://resistance-toolkit.com/${imageUrl}`} />
    <meta property="og:image:alt" content={'Text reads "The Resistance Toolkit, tools you need to fight hate." Illustration of a woman wearing a bandana on her head and flexing her right arm.'} />
    <meta property="og:description" content={description} />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={imageUrl} />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Resistance" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - The Resistance Toolkit</title>
    <link rel="stylesheet" href="https://use.typekit.net/bqf4wdd.css">
    <ClientRouter />
    {import.meta.env.PROD ? 
      <script data-cookieconsent="ignore">    window.dataLayer = window.dataLayer || [];    function gtag() {        dataLayer.push(arguments);    }    gtag("consent", "default", {        ad_personalization: "denied",        ad_storage: "denied",        ad_user_data: "denied",        analytics_storage: "denied",        functionality_storage: "denied",        personalization_storage: "denied",        security_storage: "granted",        wait_for_update: 500,    });    gtag("set", "ads_data_redaction", true);    gtag("set", "url_passthrough", false);</script>
      : null
    }
    {import.meta.env.PROD === true && <GoogleAnalytics id="G-HCFPD93CD3" /> }

  </head>
  <body class="bg-gradient-to-tl via-transparent from-gray-500/5">
    <nav aria-label="Site Navigation" class="resist-grid-nav bg-white">			
      <div class="mx-auto max-w-screen-xl px-4 py-4 sm:px-4 sm:py-4 lg:px-4">
				<div class="flex flex-col items-start gap-4 md:flex-row md:items-center md:justify-between">					
          <div class="logo-container">
            <a class="skip-to-main sr-only" href="#main">Skip to main content</a>
            <a href="/" title="Resistance Toolkit homepage" class="flex items-center gap-2">
              <Image src={Toolkit} alt="Toolbox with carpentry tools sticking out" class="w-12 h-12" />
            </a>
					</div>
		
					<div class="flex items-center gap-4">
						<a
							class="resist-button__about inline-flex items-center justify-center gap-1.5 rounded-sm border border-gray-200 bg-white px-5 py-3 text-gray-900 transition hover:text-gray-700 focus:ring-3 focus:outline-hidden"
							href="/about"
						>
							<span class="text-sm font-medium"> About </span>
              <Icon name="mdi:information" aria-hidden="true" role={'img'} class="size-4" />
						</a>
		
						<a
							class="resist-button__causes inline-block rounded-sm px-5 py-3 text-sm font-medium text-white transition"
							href="/causes"
						>
							Causes
						</a>
					</div>
				</div>
			</div>
		</nav>
    <slot name="header" />
		<main
      id="main"
      class="resist-grid-main relative max-w-6xl mx-auto py-6 lg:pt-4 px-4 pb-20 "
    >
      <slot />
    </main>
    <Footer />
    <style is:global>
      :root {
      }
      html, body {
        min-height: 100svh;
        min-width: 100svw;
      }
      body, main {
        background-color: theme(colors.gray.50);
      }
      .animate-in {
        animation: animate-in 0.5s ease-in-out;
      }
      /* Firefox */
      * {
        scrollbar-width: auto;
        scrollbar-color: #c7c7c7 #ededed;
      }

      /* Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 15px;
      }

      *::-webkit-scrollbar-track {
        background: #ededed;
      }

      *::-webkit-scrollbar-thumb {
        background-color: #c7c7c7;
        border-radius: 5px;
        border: 2px solid #ffffff;
      }
      @keyframes animate-in {
        0% {
          opacity: 0;
          transform: translateY(1rem);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    </style>
  </body>
</html>

<script> 
  document.addEventListener('astro:page-load', async () => {
    const preline = await import('preline/dist/preline.js');
    preline.HSStaticMethods.autoInit()
  });
  // import "cookie-notice/dist/cookie.notice.min.js";
  
</script>