---
import '@assets/styles/_cause.scss';
import { type Org, orgs } from '../../data';
import { type Cause, causes } from '../../data';
import { Icon } from "astro-icon/components";
import { Image } from 'astro:assets';
import DefaultImg from '/src/assets/resist-default-img.png';
import Layout from '../../layouts/Layout.astro';
const { slug } = Astro.params;

export function getStaticPaths() {
  return [
    ...causes.map((cause) => ({
      params: {
        slug: cause.slug
      }
    }))
  ]
}

let allMatchedOrgs: Org[] = [];
const cause = causes.find((cause) => cause.slug === slug) as Cause;

orgs.map((org) => {
  org.cause.map((thisCause) => {
    if(thisCause === cause.slug) {
      allMatchedOrgs.push(org)
    }
  })
});

const globalOrgs: Org[] = allMatchedOrgs.filter((org) => org.scope === 'global');
const usOrgs: Org[] = allMatchedOrgs.filter((org) => org.scope === 'us');
---

<Layout 
title={`The Resistance Toolkit - ${cause.title}`}
  description={`A list of organizations that support ${cause.title}`}
  image={'https://resistance-toolkit.com/Cause-Org.png'}
  imageAlt='Text reads "Featured Cause". Illustration of a megaphone with sound waves coming out of it.'
>
<header  class="max-w-6xl mx-auto" slot="header">

</header>

<section class="max-w-3xl mx-auto py-6 lg:pt-8 px-4 pb-10">
  <h1 class="resist-select-org__title">Select an Organization</h1>
  {globalOrgs.length !== 0 && 
  <h2 class="resist-org__section-title">🌍 Global Organizations</h2>
    <ul class="org-list">    
      {globalOrgs.map((thisOrg) => {
        return (
        <li>
          <a class="org-link" href={`/orgs/${thisOrg.slug}?cause=${cause.slug}`}>
            {thisOrg.ogImage ? 
              <div class="org-image__cover">
                <Image
                  width={100}
                  height={100}
                  src={thisOrg.ogImage}
                  alt={`${thisOrg.name} social media share`}
                  class="org-image"
                />
              </div> :
              <div class="org-image__cover">
                <Image
                  width={100}
                  height={100}
                  src={'/src/assets/resist-default-img.png'}
                  alt={'Image not found'}
                  class="org-image"
                />
              </div>
            }  
            <p class="org-title">{thisOrg.name}</p>
            <p>{thisOrg.description}</p>           
          </a>
        </li>)
      })}
    </ul>
  }
  
  <h2 class="resist-org__section-title">🇺🇸 U.S. Focused</h2>
  <ul class="org-list">
    {usOrgs.map((thisOrg) => {
      return (
      <li>        
        <a class="org-link" href={`/orgs/${thisOrg.slug}?cause=${cause.slug}`}>        
          {thisOrg.ogImage ? 
              <div class="org-image__cover">
                <Image
                  width={100}
                  height={100}
                  src={thisOrg.ogImage}
                  alt={`${thisOrg.name} social media share`}
                  class="org-image"
                />
              </div> :
              <div class="org-image__cover">
                <Image
                  src={'/src/assets/resist-default-img.png'}
                  width={100}
                  height={100}
                  alt={'Image not found'}
                  class="org-image"
                />
              </div>
            }         
          <p class="org-title">{thisOrg.name}</p>
          <p>{thisOrg.description}</p>          
        </a>        
      </li>)
    })}
  </ul>
</section>
</Layout>